// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #043b6b
$secondary = #418780
$accent    = #720585

$dark      = #1d1d1d

$positive  = #00821e
$negative  = #ed0924
$info      = #266673
$warning   = #ffae00

@import '~quasar-variables-styl'
